body{
    background-color: #B2BABB;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 700px;
    margin: 0 auto;
}
 blockquote{
     margin-left: 0px;
 }
.container blockquote {
    border: 1px solid #ffffff;
    text-align: center;
    padding-left: 0px;
}